.icon-spin {
  -webkit-animation: icon-spin 2s infinite linear;
  animation: icon-spin 2s infinite linear;
}
@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.ol-control {
  background-color: #eee;
  background-color: rgba(255,255,255,.4);
}
.ol-control:hover {
  background-color: rgba(255,255,255,.6)
}
.ol-control button {
  color: #fff;
  background-color: #7b98bc;
  background-color: rgba(0,60,136,.5);
}

.ol-control button:focus,
.ol-control button:hover {
  background-color: #4c6079;
  background-color: rgba(0,60,136,.7)
}

.ol-has-tooltip [role=tooltip] {
  text-shadow: 0 0 2px #fff
}
.ol-has-tooltip:focus [role=tooltip],.ol-has-tooltip:hover [role=tooltip] {
  background: #FFF;
  background: rgba(255,255,255,.6);
  color: #000;
  border: 3px solid transparent;
}

.ol-scale-line {
  background: #95b9e6;
  background: rgba(0,60,136,.3);
}
.ol-scale-line-inner {
  border-color: #eee;
  color: #eee;
}


.ol-attribution ul{
  color: #000;
  text-shadow: 0 0 2px #fff
}
.ol-attribution:not(.ol-collapsed){
  background: rgba(255,255,255,.8)
}