.olControlLayerSwitcher {
    position: absolute;
    top: 25px;
    right: 0;
    width: 20em;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
    font-size: smaller;
}

.olControlLayerSwitcher .layersDiv {
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
}

.olControlLayerSwitcher .layersDiv .baseLbl,
.olControlLayerSwitcher .layersDiv .dataLbl {
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
}

.olControlLayerSwitcher .layersDiv .baseLayersDiv,
.olControlLayerSwitcher .layersDiv .dataLayersDiv {
    padding-left: 10px;
}

.olControlLayerSwitcher .maximizeDiv,
.olControlLayerSwitcher .minimizeDiv {
    width: 18px;
    height: 18px;
    top: 5px;
    right: 0;
    cursor: pointer;
}

ul.dynatree-container
{
	border: 0 none;
	overflow: visible;
}

.olC4gSwitcher_dark span.dynatree-selected a,
.olC4gSwitcher_default span.dynatree-selected a
{
	color: white;
}

.olC4gSwitcher_dark ul.dynatree-container a,
.olC4gSwitcher_default ul.dynatree-container a
{
	color: white;
}

.olC4gSwitcher_default ul.dynatree-container
{
	background-color: darkblue;
}


.olC4gSwitcher_default ul.dynatree-container a:hover,
.olC4gSwitcher_default ul.dynatree-container a:focus,
.olC4gSwitcher_default span.dynatree-focused a:link  /* @IE */
{
	background-color: blue;
}

.olC4gSwitcher_dark ul.dynatree-container
{
	background-color: transparent;
}

.olC4gSwitcher_dark ul.dynatree-container a:hover,
.olC4gSwitcher_dark ul.dynatree-container a:focus,
.olC4gSwitcher_dark span.dynatree-focused a:link  /* @IE */
{
	background-color: transparent;
}

.olC4gSwitcher_blue span.dynatree-selected a,
.olC4gSwitcher_blue ul.dynatree-container a
{
	color: #00498f;
}

.olC4gSwitcher_blue ul.dynatree-container
{
	background-color: transparent;
}

.olC4gSwitcher_blue ul.dynatree-container a:hover,
.olC4gSwitcher_blue ul.dynatree-container a:focus,
.olC4gSwitcher_blue span.dynatree-focused a:link  /* @IE */
{
	background-color: transparent;
}

.olC4gSwitcher_modern span.dynatree-selected a,
.olC4gSwitcher_modern ul.dynatree-container a,
.olC4gSwitcher_metro span.dynatree-selected a,
.olC4gSwitcher_metro ul.dynatree-container a
{
	color: #000000;
}


.olC4gSwitcher_modern ul.dynatree-container,
.olC4gSwitcher_con4gis ul.dynatree-container,
.olC4gSwitcher_metro ul.dynatree-container
{
	background-color: transparent;
}

.olC4gSwitcher_modern ul.dynatree-container a:hover,
.olC4gSwitcher_modern ul.dynatree-container a:focus,
.olC4gSwitcher_modern span.dynatree-focused a:link,
.olC4gSwitcher_metro ul.dynatree-container a:hover,
.olC4gSwitcher_metro ul.dynatree-container a:focus,
.olC4gSwitcher_metro span.dynatree-focused a:link,
.olC4gSwitcher_con4gis ul.dynatree-container a:hover,
.olC4gSwitcher_con4gis ul.dynatree-container a:focus,
.olC4gSwitcher_con4gis span.dynatree-focused a:link  /* @IE */
{
	background-color: transparent;
}

.olC4gSwitcher_red span.dynatree-selected a,
.olC4gSwitcher_red ul.dynatree-container a
{
	color: #e20519;
}

.olC4gSwitcher_red ul.dynatree-container
{
	background-color: transparent;
}

.olC4gSwitcher_red ul.dynatree-container a:hover,
.olC4gSwitcher_red ul.dynatree-container a:focus,
.olC4gSwitcher_red span.dynatree-focused a:link  /* @IE */
{
	background-color: transparent;
}

span.dynatree-empty, span.dynatree-vline, span.dynatree-connector, span.dynatree-expander, span.dynatree-icon, span.dynatree-checkbox, span.dynatree-radio, span.dynatree-drag-helper-img, #dynatree-drop-marker
{
	max-height: 16px;
}

.olControlLayerSwitcher .jspVerticalBar
{
	width: 16px;
}

