.c4gMapsPrinter label {
	font-weight: bold;
}


.description-body-direction {
    height: 36px;
    width: 36px;
}

.c4gMapsPrinter .c4gMapsPrinterBtn {
	background-image: url("../osrm/images/printer.png");
	margin-right: 10px;
	float: right;	
	display: inline;
	background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 16px;
    width: 16px;	
}
