.olMap {
    color: black;
}

.olPopupCloseBox {
    background: url("img/close.gif") no-repeat;
}
/* ------------------------------------------------- Portside --- */
.c4gPortsideExtension {
    padding: 5px 10px;

    color: black;
    font-family: sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    
    background-color: white;
    
    border: 2px solid #ddd;
    border-spacing: 5px;
    border-radius: 10px;
    
    -webkit-box-shadow: 5px 5px 5px grey;
    -moz-box-shadow: 5px 5px 5px grey;
    box-shadow: 5px 5px 5px grey;

}
/* ------------------------------------------------- Pan-Panel --- */
.olControlPanPanel div {
    background-image: url(img/pan-panel.png);
}
.olControlPanNorthItemInactive {
    background-position: 0 0;
}
.olControlPanSouthItemInactive {
    background-position: -18px 0;
}
.olControlPanWestItemInactive {
    background-position: 0 -18px;
}
.olControlPanEastItemInactive {
    background-position: -18px -18px;
}
/* ------------------------------------------------ Zoom-Panel --- */
/* --- 1 --- */
.olControlZoomPanel div {
    background-image: url(img/zoom-panel.png);
}
.olControlZoomInItemInactive {
    background-position: 0 0;
}
.olControlZoomToMaxExtentItemInactive {
    background-position: 0 -18px;
}
.olControlZoomOutItemInactive {
    background-position: 0 18px;
}
/* --- 2 --- */
.olControlZoom {
    background: rgba(255,255,255,0.4);
    border-radius: 4px;
}
.olControlZoom a {
    color: white;
    font-size: 18px;
    font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    background: #130085; /* fallback for IE - IE6 requires background shorthand*/
    background: rgba(0, 60, 136, 0.5);
    filter: alpha(opacity=80);
}
.olControlZoom a:hover {
    background: #130085; /* fallback for IE */
    background: rgba(0, 60, 136, 0.7);
    filter: alpha(opacity=100);
}
@media only screen and (max-width: 600px) {
    div.olControlZoom a:hover {
        background: rgba(0, 60, 136, 0.5);
    }
}
a.olControlZoomIn {
    border-radius: 4px 4px 0 0;
}
a.olControlZoomOut {
    border-radius: 0 0 4px 4px;
}
/* ----------------------------------------- Fullscreen-Button --- */
.olControlFullScreenItemActive, 
.olControlFullScreenItemInactive { 
    background-image: url(img/fullscreen.png);
}
.olControlFullScreenItemActive { 
    background-position: 0 -25px; 
}
.olControlFullScreenItemInactive { 
    background-position: 0 0; 
}
/* --------------------------------------------- Router-Button --- */
.olControlRouterIconActive,
.olControlRouterIconInactive {
    background-image: url(img/navi.png);
}
/* -------------------------------------- Navigation & Editing --- */
.olControlNavToolbar div,
.olControlEditingToolbar div {
    background-image: url("img/editing_tool_bar.png");
    background-repeat: no-repeat;
}
.olControlNavigationItemInactive {
    background-position: -103px -1px;
}
.olControlNavigationItemActive  {
    background-position: -103px -24px;
}
.olControlZoomBoxItemInactive {
    background-position: -128px -1px;
}
.olControlZoomBoxItemActive  {
    background-position: -128px -24px;
}
.olControlDrawFeaturePointItemInactive {
    background-position: -77px -1px;
}
.olControlDrawFeaturePointItemActive {
    background-position: -77px -24px;
}
.olControlDrawFeaturePathItemInactive {
    background-position: -51px -1px;
}
.olControlDrawFeaturePathItemActive {
    background-position: -51px -24px;
}
.olControlDrawFeaturePolygonItemInactive{
    background-position: -26px -1px;
}
.olControlDrawFeaturePolygonItemActive {
    background-position: -26px -24px;
}
/* ----------------------------------- NavigationHistory-Panel --- */
.olControlNavigationHistory {
    background-image: url("img/navigation_history.png");
}
.olControlNavigationHistoryPreviousItemActive {
    background-position: 0 0;
}
.olControlNavigationHistoryPreviousItemInactive {
    background-position: 0 -24px;
}
.olControlNavigationHistoryNextItemActive {
    background-position: -24px 0;
}
.olControlNavigationHistoryNextItemInactive {
    background-position: -24px -24px;
}
/* ------------------------------------------- Editor-Button --- */
.olControlEditorButtonIconActive {
    background-image: url(img/draw_point_on.png);
}
.olControlEditorButtonIconInactive {
    background-image: url(img/draw_point_off.png);
}
/* ----------------------------------------- Graticule-Panel --- */
.olControlToolGraticuleIconActive {
    background-image: url(img/graticule-on.png);
    background-position: -2px -3px;
}
.olControlToolGraticuleIconInactive {
    background-image: url(img/graticule-off.png);
    background-position: -2px -3px;
}
/* ----------------------------------------- Measuretool-Panel --- */
.olControlToolMeasureIconActive {
    background-image: url(img/measuring-stick-on.png);
    background-position: -3px -3px;
}
.olControlToolMeasureIconInactive {
    background-image: url(img/measuring-stick-off.png);
    background-position: -2px -2px;
}
.olControlToolMeasureIconLineActive,
.olControlToolMeasureIconLineInactive {
    background-position: -2px -2px;
    border: 2px solid #add8e6;
}
.olControlToolMeasureIconLineActive {
    background-image: url(img/draw_line_on.png);
}
.olControlToolMeasureIconLineInactive {
    background-image: url(img/draw_line_off.png);
}
.olControlToolMeasureIconPolygonActive,
.olControlToolMeasureIconPolygonInactive {
    background-position: -2px -2px;
    border: 2px solid #add8e6;
    border-left: none;
}
.olControlToolMeasureIconPolygonActive {
    background-image: url(img/draw_polygon_on.png);
}
.olControlToolMeasureIconPolygonInactive {
    background-image: url(img/draw_polygon_off.png);
}
.olControlToolMeasureDisplay {
    color: #333;
    background-color: #add8e6;
}
/* ----------------------------------------- Scaleline-Display --- */
.olControlScaleLine {
    font-size: xx-small;
}
.olControlScaleLineTop {
    border-color: black;
}
.olControlScaleLineBottom {
    border-color: black;
}
/* --------------------------- Zoomlevel-Mouseposition-Display --- */
.olControlC4g_Zoomlevel,
.olControlZoomlevel,
.olControlMousePosition {
    color: black;
    font-family: Arial;
    font-size: x-small;
}
/* ------------------ Combined-Zoomlevel-Mouseposition-Display --- */
/* --------------------------------------------- Layerswitcher --- */
.olControlLayerSwitcher {
    color: white;
    background-color: transparent;
}

.olControlLayerSwitcher .layersDiv {
    background-color: darkblue;
}
/* ---------------------------------------------- Overview-Map --- */
.olControlOverviewMapElement {
    background-color: #00008B;
    border-radius: 2px 0 0 0;
}
.olControlOverviewMapMinimizeButton,
.olControlOverviewMapMaximizeButton {

}
.olControlOverviewMapExtentRectangle {
    background-image: url("img/blank.gif");
}
.olControlOverviewMapRectReplacement {
    background-image: url("img/overview_replacement.gif");
    background-repeat: no-repeat;
    background-position: center;
}
/* ------------------------------------------ Permalink-Button --- */
.olControlPermalink {
    font-size: smaller;
}
/* --------------------------------------- Attribution-Display --- */
.olControlAttribution {
    font-size: smaller;
}
/* --------------------------------------- additional Handlers --- */
.olHandlerBoxZoomBox {
    background-color: white;
    border: 2px solid red;
    
    opacity: 0.50;
    filter: alpha(opacity=50);
}
.olHandlerBoxSelectFeature {
    background-color: white;
    border: 2px solid blue;
    
    opacity: 0.50;
    filter: alpha(opacity=50);
}